  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch;
  }

  .container::-webkit-scrollbar {
      display: none;
  }

  .display-none {
      display: none;
  }

  .movie {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 22%; 
    margin: 0 auto;
    flex: 0 0 auto;
    margin-right: 1em;
    scroll-snap-align: start;
    height: 23em;
    position: relative;
  }

.video-container {
    width: 600px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: 0.5em;
}
.video-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.movie-container{
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.img {
    width: 100%;
}